tr:nth-child(even) {
    background-color: darkgreen;
    color: white;
}
tr:nth-child(odd) {
    background-color: green;
    color: white;
}
tr:first-child {
    background-color: green;
    color: black;
}
