*{
    margin: 0;
    padding: 0;
    margin-left: 4px;
}
article:first-child {
    margin-top: 30px;
}
h2 {
    font-size: 2em;
    float: left;
    display: block;
}
.director{
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
    width: 34%;
    margin-left: 0px;
    padding: 10px;
    padding-top: 2px;
    display: block;
}
#video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    padding-right: 5px;
    height: auto;
}
